.icon_btn{
    size: large;
    color: inherit;
    
    /* size="large"
              edge="start"
              color="inherit"
              aria-label="menu"
              sx={{ mr: 2 }} */
}


.align_right{
    display: flex !important;
    justify-content: right !important;
}