/* media queries (medium devices) */
/* @media screen and (max-width: 1024px) {
    .container.contact__container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
} */

/* media queries (small devices) */
/* @media screen and (max-width: 600px) {
    .container.contact__container{
        width: var(--container-width-sm);
    }
} */
